# Copyright 2023 Logicalis UKI. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0. Previously licensed under the Functional Source License (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://github.com/logicalisuki/ubiquity-open/blob/main/LICENSE
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# This software was previously licensed under the Functional Source License but has now transitioned to an Apache 2.0 License
# as of June 2025.
# See the License for the specific language governing permissions and
# limitations under the License.
---
sysctl_config:
  - name: kernel.keys.root_maxbytes
    value: 25000000
  - name: kernel.keys.root_maxkeys
    value: 1000000
  - name: kernel.panic
    value: 10
  - name: kernel.panic_on_oops
    value: 1
  - name: net.ipv4.conf.all.forwarding
    value: 1
  - name: net.ipv4.conf.all.route_localnet
    value: 1
  - name: net.ipv4.conf.default.forwarding
    value: 1
  - name: net.bridge.bridge-nf-call-arptables
    value: 1
  - name: net.bridge.bridge-nf-call-ip6tables
    value: 1
  - name: net.bridge.bridge-nf-call-iptables
    value: 1 
  - name: net.ipv4.conf.all.log_martians
    value: 0
  - name: net.ipv6.conf.all.forwarding
    value: 1
  - name: net.ipv6.conf.default.forwarding
    value: 1
  - name: net.netfilter.nf_conntrack_max
    value: 1048576
  - name: net.netfilter.nf_conntrack_tcp_timeout_close_wait
    value: 3600
  - name: net.netfilter.nf_conntrack_tcp_timeout_established
    value: 86400
  - name: vm.panic_on_oom
    value: 0
  - name: fs.inotify.max_user_instances
    value: 8192
  - name: fs.inotify.max_user_watches
    value: 655360
  - name: vm.max_map_count
    value: 1048575
  - name: net.core.rmem_max
    value: 16777216
  - name: net.core.wmem_max
    value: 16777216
  - name: net.core.rmem_default
    value: 262144
  - name: net.core.wmem_default
    value: 262144
  - name: net.core.optmem_max
    value: 40960
  - name: net.ipv4.tcp_congestion_control
    value: 'htcp'
  - name: net.ipv4.tcp_fastopen
    value: 3
  - name: net.ipv4.tcp_no_metrics_save
    value: 1
  - name: net.ipv4.tcp_rmem
    value: '4096 87380 16777216'
  - name: net.ipv4.tcp_wmem
    value: '4096 65536 16777216'
  - name: net.ipv4.tcp_max_syn_backlog
    value: 65535
  - name: net.core.somaxconn
    value: 65535
  - name: vm.overcommit_memory
    value: 1
  - name: net.ipv4.tcp_keepalive_time
    value: 60
  - name: net.ipv4.tcp_keepalive_probes
    value: 3
  - name: net.ipv4.tcp_keepalive_intvl
    value: 10
  - name: net.ipv4.ip_forward
    value: 1
sysctl_file: "/etc/sysctl.d/99-tuning.conf"

sysctl_arp_config:
  - name: net.ipv4.neigh.default.gc_thresh1
    value: "8192"
  - name: net.ipv4.neigh.default.gc_thresh2
    value: "32768"
  - name: net.ipv4.neigh.default.gc_thresh3
    value: "65536"
  - name: net.ipv6.neigh.default.gc_thresh1
    value: "8192"
  - name: net.ipv6.neigh.default.gc_thresh2
    value: "32768"
  - name: net.ipv6.neigh.default.gc_thresh3
    value: "65536"
sysctl_arp_file: "/etc/sysctl.d/99-arp.conf"

pam_settings:
  - domain: "*"
    limit_type: "-"
    limit_item: fsize
    value: unlimited
  - domain: "*"
    limit_type: "-"
    limit_item: cpu
    value: unlimited
  - domain: "*"
    limit_type: "-"
    limit_item: as
    value: unlimited
  - domain: "*"
    limit_type: "-"
    limit_item: memlock
    value: unlimited
  - domain: "*"
    limit_type: soft
    limit_item: nofile
    value: 65535
  - domain: "*"
    limit_type: hard
    limit_item: nofile
    value: 65535
  - domain: "*"
    limit_type: soft
    limit_item: nproc
    value: 65535
  - domain: "*"
    limit_type: hard
    limit_item: nproc
    value: 65535
pam_limit_file: "/etc/security/limits.d/99-tuning.conf"

ssd_device_name: "sd[a-z]"
ssd_queue_rotational: "0"
ssd_queue_scheduler: "noop"
ssd_bdi_device_readahead: "8"
ssd_nr_requests: "128"
