# Copyright 2023 Logicalis UKI. All Rights Reserved.
#
# Licensed under the Functional Source License, Version 1.0, Apache 2.0 Change License (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://github.com/logicalisuki/ubiquity/blob/main/LICENSE.md
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# It also allows for the transition of this software to an Apache 2.0 Licence
# on the second anniversary of the date we make the software available.
# See the License for the specific language governing permissions and
# limitations under the License.
---

# Upgrade Cilium
- name: "Cilium | Ensure Cilium etcd secrets in k8s"
  when:
    - cilium_etcd_enabled is defined
    - cilium_etcd_enabled == "true"
    - cilium_etcd_secrets_name is defined
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'etcd-secrets.yml.j2') }}"
    namespace: "{{ cilium_namespace }}"
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Fetch current Cilium DaemonSet information"
  kubernetes.core.k8s_info:
    api_version: v1
    kind: DaemonSet
    name: "{{ cilium_release_name }}"
    namespace: "{{ cilium_namespace }}"
  register: cilium__daemonset
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Register current Cilium pods running"
  ansible.builtin.set_fact:
    cilium_pods_running: "{{ cilium__daemonset | json_query(query) }}"
  vars:
    query: "resources[0].status.numberReady"
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Fetch information if there is a Cilium pre-flight check deployment leftover"
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Deployment
    name: cilium-pre-flight-check
    namespace: "{{ cilium_namespace }}"
  register: cilium__pre_flight_check_deployment
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Register if there is a Cilium pre-flight check deployment leftover"
  ansible.builtin.set_fact:
    cilium_pre_flight_check_leftover: "{{ cilium__pre_flight_check_deployment | json_query(query) }}"
  vars:
    query: "resources[0].metadata.name"
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Delete Cilium pre-flight check leftover"
  when:
    - cilium_pre_flight_check_leftover.find("cilium-pre-flight-check") != -1
  kubernetes.core.helm:
    name: "cilium-preflight"
    release_namespace: "{{ cilium_namespace }}"
    state: absent
  changed_when: false
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Give Kubernetes 30 secs to delete Cilium pre-flight check"
  when:
    - cilium_pre_flight_check_leftover.find("cilium-pre-flight-check") != -1
  ansible.builtin.wait_for:
    timeout: 30
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Install Cilium pre-flight check"
  kubernetes.core.helm:
    name: "cilium-preflight"
    chart_ref: "{{ cilium_chart_name }}"
    chart_version: "{{ cilium_chart_version }}"
    release_namespace: "{{ cilium_namespace }}"
    create_namespace: false
    update_repo_cache: true
    values:
      agent: false
      preflight:
        enabled: true
      operator:
        enabled: false
  changed_when: false
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"
  register: cilium__helm_pre_flight

- name: "Cilium | Install Cilium pre-flight check (helm command executed)"
  when:
    - cilium__helm_pre_flight is defined
    - cilium__helm_pre_flight.command is defined
    - cilium_helm_show_commands
  ansible.builtin.debug:
    var: cilium__helm_pre_flight.command
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Waiting for pre flight check to be deployed"
  ansible.builtin.include_tasks:
    file: pre_flight_check.yml

- name: "Cilium | Fetch Cilium pre flight deployment information"
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Deployment
    name: cilium-pre-flight-check
    namespace: "{{ cilium_namespace }}"
  register: cilium__pre_flight_deployment
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Register Cilium pre flight ready replicas"
  ansible.builtin.set_fact:
    cilium_pre_flight_ready_replicas: "{{ cilium__pre_flight_deployment | json_query(query) }}"
  vars:
    query: "resources[0].status.readyReplicas"
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Register Cilium pre flight replicas"
  ansible.builtin.set_fact:
    cilium_pre_flight_replicas: "{{ cilium__pre_flight_deployment | json_query(query) }}"
  vars:
    query: "resources[0].status.replicas"
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Check replica count == ready replicas"
  when:
    - cilium_pre_flight_replicas | int != cilium_pre_flight_ready_replicas | int
  ansible.builtin.fail:
    msg: "Replica count ({{ cilium_pre_flight_replicas }}) != ready replicas count ({{ cilium_pre_flight_ready_replicas }})"
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"

- name: "Cilium | Delete Cilium pre flight via Helm"
  kubernetes.core.helm:
    name: "cilium-preflight"
    release_namespace: "{{ cilium_namespace }}"
    state: absent
  changed_when: false
  run_once: true
  delegate_to: "{{ cilium_delegate_to }}"
  register: cilium__helm_pre_flight_chart

- name: "Cilium | Delete Cilium pre flight via Helm (helm command executed)"
  when:
    - cilium__helm_pre_flight_chart is defined
    - cilium__helm_pre_flight_chart.command is defined
    - cilium_helm_show_commands
  ansible.builtin.debug:
    var: cilium__helm_pre_flight_chart.command
  delegate_to: "{{ cilium_delegate_to }}"
  run_once: true

- name: "Cilium | Upgrade Cilium via Helm"
  block:
    - name: "Cilium | Create temporary file for Helm values"
      ansible.builtin.tempfile:
        state: file
        suffix: cilium_values
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"
      register: cilium__values_tmp_file

    - name: "Cilium | Select values file for Helm template"
      ansible.builtin.template:
        src: "{{ lookup('first_found', params) }}"
        dest: "{{ cilium__values_tmp_file.path }}"
        mode: 0600
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"
      vars:
        params:
          files:
            - cilium_values_user.yml.j2
            - cilium_values_default.yml.j2
          paths:
            - templates

    - name: "Cilium | Upgrade Helm chart"
      kubernetes.core.helm:
        name: "{{ cilium_release_name }}"
        chart_ref: "{{ cilium_chart_name }}"
        chart_version: "{{ cilium_chart_version }}"
        release_namespace: "{{ cilium_namespace }}"
        create_namespace: false
        update_repo_cache: true
        values_files:
          - "{{ cilium__values_tmp_file.path }}"
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"
      register: cilium__helm_upgrade_chart

    - name: "Cilium | Upgrade Helm chart (helm command executed)"
      when:
        - cilium__helm_upgrade_chart is defined
        - cilium__helm_upgrade_chart.command is defined
        - cilium_helm_show_commands
      ansible.builtin.debug:
        var: cilium__helm_upgrade_chart.command
      changed_when: false
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"

    - name: "Cilium | Delete temporary file for Helm values"
      when:
        - cilium__values_tmp_file.path is defined
      ansible.builtin.file:
        path: "{{ cilium__values_tmp_file.path }}"
        state: absent
      changed_when: false
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"

  rescue:
    - name: "Cilium | Delete temporary file for Helm values"
      when:
        - cilium__values_tmp_file.path is defined
      ansible.builtin.file:
        path: "{{ cilium__values_tmp_file.path }}"
        state: absent
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"
      changed_when: false
