# Copyright 2023 Logicalis UKI. All Rights Reserved.
#
# Licensed under the Functional Source License, Version 1.0, Apache 2.0 Change License (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://github.com/logicalisuki/ubiquity/blob/main/LICENSE.md
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# It also allows for the transition of this software to an Apache 2.0 Licence
# on the second anniversary of the date we make the software available.
# See the License for the specific language governing permissions and
# limitations under the License.
---

# tasks file for auditd hardening

- name: "Hardening | Update and upgrade apt packages"
  ansible.builtin.apt:
    upgrade: yes
    update_cache: yes
  when: ansible_os_family == "Debian"

# STIG 030000
- name: "Hardening | Install auditd package"
  ansible.builtin.package:
    name: '{{ auditd_package }}'
    state: 'present'

# CIS 4.1.1.1
# CIS 4.1.1.2
# CIS 4.1.1.3
# STIG 030330
# STIG 030350
- name: "Hardening | Configure auditd"
  ansible.builtin.template:
    src: 'auditd.conf.j2'
    dest: '/etc/audit/auditd.conf'
    owner: 'root'
    group: 'root'
    mode: '0600'

- name: "Hardening | Collect privileged binaries"
  args:
    executable: /bin/bash
  ansible.builtin.shell: |
    set -o pipefail
    for i in  $(df | grep '^/dev' | awk '{ print $NF }'); do
      find $i -xdev -type f -perm -4000 -o -type f -perm -2000 2>/dev/null;
    done
  changed_when: no
  check_mode: no
  register: privileged_bins


# CIS 4.1.4
# CIS 4.1.5
# CIS 4.1.6
# CIS 4.1.7
# CIS 4.1.8
# CIS 4.1.9
# CIS 4.1.10
# CIS 4.1.11
# CIS 4.1.12
# CIS 4.1.13
# CIS 4.1.14
# CIS 4.1.15
# CIS 4.1.16
# CIS 4.1.17
# CIS 4.1.18
# STIG 030000
# STIG 030010
# STIG 030360
# STIG 030370 to 030550
# STIG 030740
# STIG 030819
# STIG 030820
# STIG 030821
# STIG 030830
# STIG 030880 to 030910
# STIG 030560 to 030860
# STIG 030600 to 030874
- name: "Hardening | Deploy Auditing rules"
  ansible.builtin.template:
    src: "audit/{{ item }}.j2"
    dest: "/etc/audit/rules.d/{{ item }}"
    owner: 'root'
    group: 'root'
    mode: '0600'
  with_items:
    - access.rules
    - actions.rules
    - deletion.rules
    - identity.rules
    - logins.rules
    - MAC_policy.rules
    - modules.rules
    - mounts.rules
    - perm_mod.rules
    - priv_commands.rules
    - scope.rules
    - session.rules
    - system_local.rules
    - time_change.rules

- name: "Hardening | Make rules immutable"
  ansible.builtin.lineinfile:
    dest: /etc/audit/rules.d/99_seal.rules
    line: "-e 2"
    state: present
    create: yes
    owner: 'root'
    group: 'root'
    mode: '0600'

# CIS 4.1.2
# STIG 030000
- name: "Hardening | Reload auditd service"
  command: /sbin/service auditd restart
  changed_when: no
  check_mode: no
  failed_when: no
  args:
    warn: no

- name: "Hardening | Enable service auditd"
  ansible.builtin.service:
    name: auditd
    enabled: 'yes'
    state: started
